[Desktop Entry]
Name=yafc
Comment=Yet Another Ftp and sftp Client
Comment[pl]=Jeszcze Jeden Klient Ftp oraz sftp
Exec=yafc
Terminal=true
Categories=Network;FileTransfer;
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
