[Desktop Entry]
Name=yafc
Comment=Yet Another Ftp and sftp Client
Comment[pl]=Jeszcze jeden klient FTP oraz sftp
Exec=yafc
Icon=file
Terminal=true
Categories=ConsoleOnly;Network;FileTransfer;
Type=Application
# vi: encoding=utf-8
